fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
yagmail
dotenv
jinja2
annotated-types
anyio
click
colorama
dnspython
email-validator
exceptiongroup
greenlet
h11
idna
importlib-metadata
MarkupSafe
pydantic-core
sniffio
starlette
typing-extensions
zipp