fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
twilio
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
jinja2
python-dotenv
requests
pytz
openpyxl
apscheduler
